.pageWrapper {
  background-image: url('/back3.jpg'); /* Set the background image */
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the image */
  height: 100vh; /* Set height to full viewport height */
  display: flex; /* Use flexbox to align children */
  flex-direction: column; /* Column direction */
  justify-content: flex-start; /* Align children to the top */
}
  
  .feedbackContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1; 
    margin: 50px 0; 
    width: 80%; 
    max-width: 900px;
    margin: 0 auto; 
    margin-left: -50px;
  }
  