.feedbackContainer {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .feedbackHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .feedbackIcon {
    font-size: 24px;
  }
  
  .feedbackTitle {
    font-size: 18px;
    font-weight: bold;
  }
  
  .closeButton {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* h2 {
    font-size: 24px;
    margin-bottom: 10px;
  } */
  
  /* p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #666;
  } */
  
  .emojiContainer {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .emoji {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .emojiIcon {
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .emojiLabel {
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    margin-top: 5px;
  }
  
  .emoji.selected {
    transform: scale(1.2);
  }
  
  .commentBox {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .submitButton {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background-color: #34d399;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #059669;
  }
  