.topPicksSection {
  padding: 2rem;
  text-align: center;
}

.heading h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.heading p {
  color: #666;
  margin-bottom: 2rem;
}

.carsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  gap: 1.5rem; /* Adjust spacing between cards */
  justify-content: center;
}

.carCard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  transition: transform 0.3s ease;
}

.carCard:hover {
  transform: scale(1.05);
}

.categoryTag {
  background-color: #e0e0e0;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
}

.carImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
} */

.transmission {
  color: #666;
  margin-bottom: 1rem;
}

.carDetails {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.priceInfo {
  font-size: 0.9rem;
  color: #666;
}

.price {
  font-size: 1.1rem;
  font-weight: bold;
  color: #000;
}

.seeMore {
  margin-top: 2rem;
}

.seeMore button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.seeMore button:hover {
  background-color: #444;
}
